.App {
    margin: 5% auto;
    background: #2d3034;
    width: 70%;
    height: 800px;
    border: 1px solid #ffffff;
    text-align: center;
}

.controls {
    height: 80px;
    border-bottom: solid 1px #777;
}

.controls-left {
    height: 80px;
    border-right: solid 1px #777;
    padding-top: 20px;
}
.controls-right {
    padding: 20px;
}

.notes-list {
    height: 720px;
    border-right: solid 1px #777;
    padding-left: 10%;
    margin:0;
}

.note-in-list {
    border-bottom: solid 1px #777;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

.note-in-list.active {
    color: #4895d9;
}

.notes-list.col-md-4 {
    margin:0;
    padding:0;
}

.notes-list>ul {
    list-style: none;
}

.notes-list>ul>li {
    font-weight: bold;
    font-size: 16px;
}

.glyphicon {
    color: #4895d9;
    font-size: 20px;

}
