.App {
    margin: 5% auto;
    background: #2d3034;
    width: 70%;
    height: 800px;
    border: 1px solid #ffffff;
    text-align: center;
}

.filter-area {
    height: 80px;
    border: solid 1px #777;
}
.controls {
    height: 80px;
    border-bottom: solid 1px #777;
}

.notes-list {
    height: 720px;
    border-right: solid 1px #777;
    padding-left: 10%;
    margin:0;
}

.note-in-list {
    border-bottom: solid 1px #777;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

.notes-list {
    margin:0;
    padding:0;
}

.notes-list>ul {
    list-style: none;
}

.notes-list>ul>li {
    padding-right: 10%;
    font-weight: bold;
    font-size: 16px;
}
